.product-preview-container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 100vw;
  height: fit-content;

  display: flex;
  flex-direction: column;
}

.product-preview-img {
  flex: 1.5;
  width: 100%;
  height: 100%;
}

.product-img-mobile {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0 ;
}

.product-img-desktop {
  display: none;
}

.product-preview-info {
  flex: 2;

  padding: 2em;
  color: hsl(228, 12%, 48%);

  display: flex;
  flex-direction: column;
}

.subheading {
  font-family: Montserrat;
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 1rem;
}

.product-name {
  font-family: Fraunces;
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 0.25em;
  color: hsl(212, 21%, 14%);
}

.product-description {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 0.95rem;
  padding: 0.8em 0;
  width: 85%;

}

.product-price {
  font-size: 2rem;
  font-family: Fraunces;
  font-weight: 700;
  color: hsl(158, 36%, 37%);

  display: flex;
  align-items: center;
  gap: 1em;
}

.original-price {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

.cart-btn {
  width: 100%;
  height: 4em;
  font-family: Montserrat;
  font-size: 0.9rem;
  font-weight: 700;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  border: none;
  margin-top: 1.5em;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

@media (min-width: 768px) {
  .product-preview-container {
    width: 55vw;
    height: 75vh;
    flex-direction: row;
  }

  .product-img-mobile {
    display: none;
  }

  .product-img-desktop {
    display: block;
    border-radius: 10px;
    height: 100%;
    width: auto;
  }

  .product-preview-info {
    justify-content: space-between;
    padding: 3em;
  }

  .product-name {
    padding-top: 0.5em;
    font-size: 3rem;
    line-height: 50px;
  }

  .product-description {
    font-size: 1rem;
    line-height: 25px;
  }

  .product-price {
    font-size: 3rem;
  }

  .original-price {
    font-size: 1rem;
  }

  .cart-btn {
    height: 4.5em;
  }
}